<% @status = settings['issue_status_ids_to_be_closed'] %>
<p>
  <label>Situação da Tarefa a ser fechada</label>
  <%- statuses = IssueStatus.all.collect{|s| [s.name, s.id]} -%>
  <%- options = options_for_select(statuses, @status) -%>
  <%= select_tag 'settings[issue_status_ids_to_be_closed]', options, :multiple => true %>
</p>


<p>
  <label>Fechar tarefas não atualizadas no(s) ultimo(s)</label>
  <input type="number" onkeypress="return event.charCode >= 48" min="1" name="settings[dias_para_fechar]" id="settings_dias_para_fechar" value="<%=settings['dias_para_fechar'] %>" size="2" /> dia(s)
</p>

<p>
  <label>Nota de fechamento:</label>
  <input type="text" id="settings_nota_de_fechamento" name="settings[nota_de_fechamento]" size="100" value="<%=settings['nota_de_fechamento'] %>" >
</p>

<p>
  <label>Executar job de fechamento todo dia as </label>
  <input type="text" name="settings[executar_em]" id="settings_executar_em" value="<%=settings['executar_em'] %>" size="5" />
  <br/>* Utilizar o horário no formato semelhante ao dos exemplos: <br/>20h30<br/>00h00<br/>10h30
</p>
